.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer__text {
  margin: 0;
  /* Using UI text style 2 Bold / 16-20 Bold / Cabinet Grotesk */
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.footer__year {
  margin: 5px 0 0 0;
  /* Using UI text style 2 / 16-20 Medium / Cabinet Grotesk */
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
